---
import Layout from "../layouts/Layout.astro";
import DarkMode from "../components/DarkMode.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<Layout title="Work in progress">
  <main class="text-center">
    <DarkMode />
    {
      projects.map((project) => (
        <p class="text-xl font-mono uppercase">{project.data.title}</p>
      ))
    }
  </main>
</Layout>
