---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";

const projects = (await getCollection("projects")).sort(
  (a, b) => a.data.order - b.data.order
);
---

<Layout title="Homepage">
  <h1 class="font-serif text-3xl">
    Hi, I'm Franck Da Silva,<br /> a Senior Full Stack Developer based in Lausanne,
    Switzerland.<br /> Here's a showcase of the kind of work I've been doing these
    past years.
  </h1>
  <ul class="mt-10 md:mt-32">
    {
      projects.map((project) => (
        <li class="text-md font-mono uppercase py-1">
          <a
            class="uppercase border-b border-transparent dark:hover:border-b-secondary hover:border-b-black"
            href={`/projects/${project.slug}`}
          >
            {project.data.title}
          </a>
          <span class="text-xs">{project.data.subtitle}</span>
        </li>
      ))
    }
  </ul>
</Layout>
