---
import { getCollection } from "astro:content";

import DarkMode from "../components/DarkMode.astro";
import Layout from "../layouts/Layout.astro";

const projects = await getCollection("projects");
---

<Layout title="Work in progress">
  <div class="flex flex-col min-h-screen">
    <div class="flex-grow pt-8 md:pt-32">
      <h1 class="font-serif text-3xl">
        Hi, I'm Franck Da Silva,<br /> a Senior Full Stack Developer based in Lausanne,
        Switzerland.<br /> Here's a showcase of the kind of work I've been doing
        these past years.
      </h1>
      <ul class="mt-10 md:mt-32">
        {
          projects
            .sort((a, b) => a.data.order - b.data.order)
            .map((project) => (
              <li class="text-md font-mono uppercase py-1">
                {project.data.title}
              </li>
            ))
        }
      </ul>
    </div>
    <div class="font-serif py-3 flex items-center justify-between">
      <p>
        Feel free to
        <a
          href="https://github.com/Gurakh/gurakh.github.io"
          target="_blank"
          class="dark:text-secondary border-b border-black dark:border-secondary"
          >check the code.
        </a>
      </p>
      <DarkMode />
    </div>
  </div>
</Layout>
