---
import Layout from "../layouts/Layout.astro";
import DarkMode from "../components/DarkMode.astro";
---

<Layout title="Work in progress">
  <main class="text-center">
    <DarkMode />
    <h1>Work in progress</h1>
  </main>
</Layout>
