---
import "@fontsource/space-mono";
import "@fontsource/cormorant-garamond";

import DarkMode from "../components/DarkMode.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class="bg-secondary dark:bg-primary dark:text-secondary antialiased"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main class="px-6 mx-auto md:px-8 max-w-screen-xl">
      <div class="flex flex-col min-h-dvh">
        <div class="flex-grow py-8 md:py-32">
          <slot />
        </div>
        <div class="py-3 flex items-center justify-between">
          <p class="text-sm">
            Feel free to
            <a
              href="https://github.com/Gurakh/gurakh.github.io"
              target="_blank"
              class="dark:text-secondary underline underline-offset-2"
              >check the code.
            </a>
          </p>
          <DarkMode />
        </div>
      </div>
    </main>
  </body>
</html>
