---
import "@fontsource/space-mono";
import "@fontsource/cormorant-garamond";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class="bg-secondary dark:bg-primary dark:text-secondary antialiased"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main class="px-3 mx-auto sm:px-6 md:px-8 max-w-screen-xl">
      <slot />
    </main>
  </body>
</html>
