---
import "@fontsource/space-mono";
import "@fontsource/cormorant-garamond";

import DarkMode from "../components/DarkMode.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark:bg-primary dark:text-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <div class="font-serif">
      Copyright 2024, Franck Da Silva. Feel free to <a
        href="https://github.com/Gurakh/gurakh.github.io"
        target="_blank">check the code</a
      >
      <DarkMode />
    </div>
  </body>
</html>
